.contenedorCart {
  width: 60%;
  margin: 50px auto;
  font-family: "Segoe UI", sans-serif;
  color: #222;
  border: 2px solid rgba(0, 0, 0, 0.578);
  padding: 2em;
  background-color: #ddddddcf;
}

.contenedorCart h2 {
  font-size: 2rem;
  margin-bottom: 15px;
  font-weight: 600;
}

.itemCart {
  display: grid;
  grid-template-columns: 1fr auto auto;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
}

.pizzaInfo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.pizzaInfo img {
  width: 80px;
  height: 50px;
  border-radius: 6px;
  object-fit: cover;
}

.pizzaName {
  font-weight: 500;
  text-transform: capitalize;
  font-size: larger;
}

.pizzaPrice {
  font-weight: 500;
  font-size: 1.4em;
  color: #333;
}

.pizzaControls {
  display: flex;
  align-items: center;
  gap: 6px;
}

.pizzaControls button {
  border: 0.5px solid;
  border-radius: 6px;
  font-size: 1rem;
  width: 28px;
  height: 28px;
  cursor: pointer;
}

.btnSub {
  background-color: #c53030;
  color: white;
}

.btnAdd {
  background-color: #2563eb;
  color: white;
}

.count {
  min-width: 20px;
  text-align: center;
  font-weight: 500;
  font-size: 1.6em;
}

.totalCompra {
  border-top: 1px solid #5e5e5e;
  margin-top: 20px;
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.totalCompra h3 {
  font-size: 2rem;
  font-weight: 500;
}

.btnPagar {
  background-color: #111;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 0.6rem 2rem;
  cursor: pointer;
  font-size: 1.4rem;
  transition: background-color 0.3s ease-in-out;
}

.btnPagar:disabled {
  background-color: #9ca3af;
  color: #f3f4f6;
  cursor: not-allowed;
  box-shadow: none;
  opacity: 0.8;
}
