.botonesCard {
  display: flex;
  justify-content: space-evenly;
  margin: 10px;
}
.tituloPizza {
  display: flex;
  justify-content: center;
  font-size: 1.6em !important;
  text-transform: capitalize;
  font-family: Quando;
  font-weight: 300;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.ingredientes {
  margin-left: 1em;
  text-transform: capitalize;
  letter-spacing: 0.02em;
}
h6 {
  text-decoration: underline;
  color: #999999;
  font-family: Mallanna;
  font-weight: 900 !important;
  font-size: 1.2em !important;
  text-transform: lowercase;
  letter-spacing: 0.02em;
  margin-top: 10px;
  text-transform: capitalize;
}
