h1{
    text-align: center;
    margin-top: 2rem !important;
}
.contenedorInput {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  margin-top: 20px;
}
form input {
  width: 50%;
  height: 3em;
  background-color: white;
  color: black;
  border-radius: 20px;
  margin-bottom: 2em;
}
form label {
  font-weight: 800;
  font-size: large;
  margin-bottom: 0.5em;
}
form button {
  width: 50%;
  height: 3em;
  border-radius: 20px;
  background-color: rgb(210, 2, 2);
  font-weight: 800;
}
::placeholder{
  padding-left: 2em;
}

